
@import '../../styles/variables.scss';
@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.movies-list-section {
    display: flex;
    gap: 150px;
    .all-movies {
        flex: 40%;
        .load-more-btn {
            background-color: $primary-button-color;
            padding: 10px 20px;
            color: $text-color;
            border: none;
            margin-left: 35px;
        }
        .all-movies-title {
            margin-left: 40px;
            margin-top: 30px;
            font-size: 35px;
        }
        .movie-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            margin: 20px 35px;
            height: 75vh;
            overflow: auto;
            .movie {
                padding: 5px;
                img{
                    width: 220px;
                    height: 300px;
                    object-fit: cover;
                    cursor: pointer;
                }
                .movie-details-container {
                    @include flex-align(space-between, flex-start);
                    .movie-details {
                        width: 80%;
                    }
                }
            }
          
        }
    }
    .movies-description {
        flex: 60%;
        margin-top: 90px;
        .selected-movie-details {
            margin-right: 40px;
            .selected-movie {
                @include flex-align(space-between, center);
            }
            .selected-movie-name {
                font-size: 35px;
            }
            .selected-movie-likes {
                margin: 18px 0;
                color: #d9bc2d;
                font-weight: 900;
            }
            .selected-movie-poster {
                width: 200px;
                height: 250px;
                object-fit: cover;
            }
            .selected-movie-description {
                line-height: 1.5;
                margin-top: 20px;
                font-size: 18px;
            }
            .actors-title {
                margin: 25px 0;
            }
            .actors-list {
                line-height: 1.5;
                list-style: none;
                .actor {
                    font-size: 18px;
                }
            }
        }
    }
    .notification {
        margin-right: 40px;
        margin-top: 20px;
        font-size: 20px;
        color: $secondary-color;
        .ad-notify-container {
            width: 720px;
            .advertisement {
                width: 100%;
                height: 700px;
                object-fit: cover;
            }
        }
       
    }
    .thumbs-up-button {
        width: 40px;
        height: 40px;
        background: none;
        cursor: pointer;
        padding: 0;

        &:hover, &.description {
            border: 1px solid white;
            border-radius: 50%;
        }
    
        svg {
            transition: transform 0.3s ease;
    
            @keyframes bounce {
                0% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(1.3);
                }
                100% {
                    transform: scale(1);
                }
            }
    
        
        }
        &.liked {
            animation: bounce 0.5s ease;
            color: $liked-color;
        }
    }
}