.short-teasers-section {
    padding: 0px 100px;
    .short-teasers-heading {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .videos-container {
        display: flex;
        position: relative;
        gap: 30px;
        .video-wrapper {
            position: relative;
            .video-player {
                width: 100%;
                margin-bottom: 25px;
            }
            .teaser-title {
                font-size: 24px;
            }
            .play-icon {
                height: 2em;
                position: absolute;
                top: 50%;
                transform: translate(240%, -85%);
                background-color: transparent;
                color: white;
                border: none;
                padding: 20px 30px;
                cursor: pointer;
                z-index: 1;
                svg {
                    height: 3rem;
                }
            }
            .notification {
                p {
                    margin-top: 5px;
                    font-size: 16px;
                    color: #488cd7;
                }
                .advertisement {
                    width: 500px;
                    height: 300px;
                    object-fit: cover;
                    position: absolute;
                    top: 0%;
                }
            }
        }
       
    }
}