
@import '../../styles/variables.scss';
@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.header {
    @include flex-align(space-between, center);
    background-color: $tab-color;
    height: 65px;
    padding: 0 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    img {
        width: 115px;
    }
    .app-logo {
        cursor: pointer;
        font-weight: 600;
    }
    .header-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        .menu-items {
            list-style: none;
            @include flex-align(space-between, normal);
            width: 40%;
            height: 100%;
            color: white;
            font-size: 1.25rem;
            font-weight: 700;
            a {
                @include flex-align(normal, center);
            }
            .now-showing {
                color: #488cd7;
            }
        }
    }
    .profile-user {
        @include flex-align(normal, center);
        gap: 10px;
        font-weight: 500;
        font-size: 1.25rem;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
    }
}