
@import '../src/styles/variables.scss';
@import '../src/styles/colors.scss';
@import '../src/styles/mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    color: $text-color;
}

button {
    background-color: $primary-button-color;
    padding: 15px 30px;
    color: $text-color;
    border: none;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

a{
    text-decoration: none;
    color:$text-color;
  }

.error {
    color: $error-color;
}